.Cart-container {
    display: flex;
}

img-part {
    width: 30%;
    position: relative;

}



.text-part {
    width: 70%;
}



.removeBTn {
    background-color: burlywood;
    border: 2px solid burlywood;
}

.icon {
    transition: 1s;
}

.icon:hover {
    color: rgba(204, 28, 5);
}

@media (min-width: 400px) and (max-width: 768px) {
    .Cart-container {
        display: block;
    }

    img-part {
        width: 30%;
        position: relative;

    }



    .text-part {
        width: 70%;
    }


}